@import url('../../fonts/elvacio.ttf/css?family=elvacio');

.faction-name {
    position: absolute;
    display: flex;
    left: 50%;
    bottom: 30px;
    transform: translateX(-50%);
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 0;
    justify-content: center;
    align-items: center;
    text-shadow:
        1px 1px 1px rgba(2, 15, 18, 0.3),
        2px 2px 2px rgba(0, 10, 10, 0.2),
        0px 0px 4px rgba(0, 0, 0, 0.1);
}

.region-grid-champion {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    width: fit-content;
    gap: 10px;
}

/* .champion-name-shurima {
    position: absolute;
    font-family: 'Playfair Display', 'Noto Serif JP', serif;
    bottom: 30px;
    transform: translateX(-50%);
    font-weight: 900;
    font-size: 2.7rem;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin: 0;
    text-align: center;
    background: linear-gradient(135deg, #D1B996 0%, #768A85 30%, #D1B996 70%, #314340 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    background-size: 200% 200%;
    animation: gradienteAnim 84s linear infinite;
    text-shadow:
        1px 1px 1px rgba(2, 15, 18, 0.3),
        2px 2px 2px rgba(0, 10, 10, 0.2),
        0px 0px 4px rgba(0, 0, 0, 0.1);
} */

/* 
.faction-name--Aguas {
    font-family: 'aguas';
    color: #922FE5;
    text-shadow: 1px 1px 0px #240F2F, -1px -1px 0px #3B1455, 1px -1px 0px #502264, -1px 1px 0px #5A03F1;
} */

.faction-name--Bandle {
    font-family: 'elvacio';
    color: #922FE5;
    text-shadow: 1px 1px 0px #240F2F, -1px -1px 0px #3B1455, 1px -1px 0px #502264, -1px 1px 0px #5A03F1;
}

.faction-name--Demacia {
    font-family: 'elvacio';
    color: #922FE5;
    text-shadow: 1px 1px 0px #240F2F, -1px -1px 0px #3B1455, 1px -1px 0px #502264, -1px 1px 0px #5A03F1;
}

.faction-name--Vacio {
    font-family: 'elvacio';
    color: #922FE5;
    text-shadow: 1px 1px 0px #240F2F, -1px -1px 0px #3B1455, 1px -1px 0px #502264, -1px 1px 0px #5A03F1;
}

.faction-name--Freljord {
    font-family: 'elvacio';
    color: #922FE5;
    text-shadow: 1px 1px 0px #240F2F, -1px -1px 0px #3B1455, 1px -1px 0px #502264, -1px 1px 0px #5A03F1;
}

.faction-name--IslaSombra {
    font-family: 'IslaSombra';
    color: #922FE5;
    text-shadow: 1px 1px 0px #240F2F, -1px -1px 0px #3B1455, 1px -1px 0px #502264, -1px 1px 0px #5A03F1;
}

.faction-name--Ixtal {
    font-family: 'elvacio';
    color: #922FE5;
    text-shadow: 1px 1px 0px #240F2F, -1px -1px 0px #3B1455, 1px -1px 0px #502264, -1px 1px 0px #5A03F1;
}

.faction-name--Jonia {
    font-family: 'Jonia';
    color: #922FE5;
    text-shadow: 1px 1px 0px #240F2F, -1px -1px 0px #3B1455, 1px -1px 0px #502264, -1px 1px 0px #5A03F1;
}

.faction-name--Noxus {
    font-family: 'elvacio';
    color: #922FE5;
    text-shadow: 1px 1px 0px #240F2F, -1px -1px 0px #3B1455, 1px -1px 0px #502264, -1px 1px 0px #5A03F1;
}

.faction-name--Piltover {
    font-family: 'elvacio';
    color: #922FE5;
    text-shadow: 1px 1px 0px #240F2F, -1px -1px 0px #3B1455, 1px -1px 0px #502264, -1px 1px 0px #5A03F1;
}

.faction-name--Runaterra {
    font-family: 'elvacio';
    color: #922FE5;
    text-shadow: 1px 1px 0px #240F2F, -1px -1px 0px #3B1455, 1px -1px 0px #502264, -1px 1px 0px #5A03F1;
}

.faction-name--Shurima {
    font-family: 'elvacio';
    color: #922FE5;
    text-shadow: 1px 1px 0px #240F2F, -1px -1px 0px #3B1455, 1px -1px 0px #502264, -1px 1px 0px #5A03F1;
}

.faction-name--Targon {
    font-family: 'elvacio';
    color: #922FE5;
    text-shadow: 1px 1px 0px #240F2F, -1px -1px 0px #3B1455, 1px -1px 0px #502264, -1px 1px 0px #5A03F1;
}

.faction-name--Zaun {
    font-family: 'elvacio';
    color: #922FE5;
    text-shadow: 1px 1px 0px #240F2F, -1px -1px 0px #3B1455, 1px -1px 0px #502264, -1px 1px 0px #5A03F1;
}

@font-face {
    font-family: 'elvacio';
    src: url(../../fonts/elvacio.ttf);
}

@font-face {
    font-family: 'aguas';
    src: url(../../fonts/aguas.otf);
}

@font-face {
    font-family: 'IslaSombra';
    src: url(../../fonts/islasombra.otf);
}