@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

.header-main {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    width: 98vw;
    top: 3.80vh;
    height: fit-content;
    z-index: 10;
}

.header-rules {
    width: fit-content;
    height: fit-content;
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

.page-title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 50vw;
    user-select: none;
    font-size: 2.4rem;
    font-family: 'Cormorant Garamond', serif;
    z-index: 9;
}

.text-title {
    font-family: 'Poppins', sans-serif;
    font-size: 2.2rem;
    font-weight: bold;
    background: linear-gradient(270deg,
            #FF0000, #FF3F00, #FF7F00, #FFBF00, #FFFF00, #BFFF00, #00FF00, #007FFF, #0000FF,
            #240097, #4B0082, #240097, #0000FF, #007FFF, #00FF00, #BFFF00, #FFFF00, #FFBF00,
            #FF7F00, #FF3F00, #FF0000);
    background-size: 3000% 3000%;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    filter: drop-shadow(2.5px 2.5px 2.5px #000000);
    animation: gradienteAnim 84s linear infinite;
    margin: 0%;
    z-index: 8;
}

@keyframes gradienteAnim {
    0% {
        background-position: 0% 50%;
    }

    25% {
        background-position: 50% 100%;
    }

    50% {
        background-position: 100% 50%;
    }

    75% {
        background-position: 50% 0%;
    }

    100% {
        background-position: 0% 50%;
    }
}

#text-rules {
    position: absolute;
    pointer-events: none;
    top: 1vh;
    left: 7.7vw;
    font-size: 1.5rem;
    font-family: 'Cormorant Garamond', serif;
    font-style: italic;
    color: #4B2E05;
    text-shadow: 1px 1px 2.3px #3C3C3C;
    z-index: 9;
}

#rules-scroll {
    position: relative;
    cursor: pointer;
    width: 6vw;
    transform: rotate(-40deg);
    user-select: none;
    border-radius: 24%;
    z-index: 8;
}

#text-reset {
    position: absolute;
    user-select: none;
    pointer-events: none;
    top: 0.7vh;
    left: 86.90vw;
    font-size: 1.8rem;
    font-family: 'Cormorant Garamond', serif;
    font-style: italic;
    color: #FFFFFF;
    text-shadow: 3px 3px 1px #000000;
    z-index: 9;
}

#reset-svg {
    cursor: pointer;
    width: 5vw;
    transform: rotate(-15deg) rotateX(-38deg) rotateY(0deg);
    transform-style: preserve-3d;
    z-index: 8;
}