.footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin-top: 5%;
    gap: 50px;
    user-select: none;
    text-shadow: 3px 3px 3px #000000;
}

.footer-main-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
}

.footer-thanks {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
}

.footer-text {
    font-family: 'Cormorant Garamond', serif;
    font-size: 2rem;
    color: #E8E8E8;
    user-select: none;
    margin: 0;
}

.white-space-footer {
    width: 1vw;
}

.footer-links {
    font-family: 'Cormorant Garamond', serif;
    font-size: 2rem;
    color: #E8E8E8;
    text-decoration: none;
    user-select: none;
    -webkit-user-drag: none;
    transition: color 0.4s ease;
}

.footer-links:hover {
    color: #0077CC;
    user-select: none;
}

.discord-link {
  display: inline-block;
  text-decoration: none;
}

.discord-logo {
    position: absolute;
    top: 17vh;
    left: 93.50vw;
    width: 5vw;
    border-radius: 50%;
    user-select: none;
    -webkit-user-drag: none;
    cursor: pointer;
    transition: color 0.3s ease;
    cursor: pointer;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.discord-logo:hover {
    user-select: none;
    transform: scale(1.1);
}